* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: #31343d;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1%;
}

header h1 {
  background-color: #92cccd;
  font-size: 55px;
  line-height: normal;
  padding: 0 15px 0 5%;
}

header h1 a {
  text-decoration: none;
  color: #31343d;
}
header nav {
  padding-right: 5%;
}


.top {
  display: flex;
  list-style: none;
}

.top li {
  padding: 5px;
}

.top a {
  color: #92cccd;
  font-size: 24px;
  text-decoration: none;
  padding: 5px 10px;
  border-bottom: 4px solid #92cccd;
}

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 195px;
  position: relative;
}

.hero-banner h2 {
  background-color: #92cccd;
  color:#31343d;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  bottom: 20px;
  right: 5%;
}